.margin-right-15 {
	margin-right: 15px;
}

.ui-sortable {
	padding-bottom: 50px;
	/*border: 1px solid #f00;*/
 }
.add_cal .fc-left h2{
	margin-top: -30px !important;
	/*border: 1px solid #f00;*/
}
.tab_height_290{
	height: 290px;
}
.overflowH{
	overflow: hidden;
}
.overflowS{
	overflow: scroll;
}

.tab_height_180{
	height: 180px;
}

.tab_height_450{
	height: 450px;
}

.tab_height_130{
	height: 130px;
}

.tab_height_200{
	height: 200px;
}

.fc-state-highlight {
	background: #a0a4a9 !important;
}

.ui-datepicker-inline {
	width: 100%;
}
.ui-datepicker table {
	width: 100%;
}

.dropdown-menu>li>a.disabled, .dropdown-menu>li>a.disabled:focus, .dropdown-menu>li>a.disabled:hover {
	background: #eee;
	color: #b4b4b4;
	cursor: not-allowed;
}

.sms-required-error:not(.ng-invalid.ng-touched), .ng-invalid.ng-touched {
	border-color: #f00;
}

.patient-searched-result {
	cursor: pointer;
}
.patient-searched-result:hover {
	font-weight: bold;
}

#calendar .has-visiting a {
	font-weight: 700;
	color: #000000;
}

.note-editable {
	min-height: 200px;
}

#ToWright .jarviswidget {
	margin-bottom: 0;
}

.ng-invalid {
	border-color: #f00 !important;
}
.personaldatapopup .radio{margin-top: 0px;}
.personaldatapopup .radio + .radio{margin-top: 10px;}
.personaldatapopup .custom-scroll{margin-top: 15px;}

@media only screen and (max-width:767px){
	.mobile_row{
		margin-left: -15px;
		margin-right: -15px;
	}
}

#modal-popup-scroll-horizontal{
	overflow: scroll;
}

.smart-form .checkbox i{
	top: 3px;
}

#header-fixed {
	position: fixed;
	top: 0px; display:none;
}

textarea {
	resize: vertical;
}

#summernote-content-align {
	text-align: center;
}

.note-editor .note-toolbar {
	border-top: 1px solid #a9a9a9;
}

.summernote2-title-row {
	margin-left: 1px;
}

.summernote2-title-button {
	padding: 3px 31px;
}

.getImageButtons {
	float: right; 
	margin-right: 15px;
}

.image-align {
	text-align: center;
}

/* .no-padding {
	padding: 0px;
} */
/* .canvas-image{
  width: 400px;
}
.canvas-image #target{
  width: 100%!important;
}
#canvas {
  max-width: 400px;
} */

.content-style {
  margin-left: 19px;
  margin-top: 5px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4671a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.1px 1.1px 1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 0.5px solid #f56600;
  height: 32px;
  width: 13px;
  border-radius: 44px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #517eb7;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4671a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.1px 1.1px 1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 0.5px solid #f56600;
  height: 32px;
  width: 13px;
  border-radius: 44px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3f6597;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #4671a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.1px 1.1px 1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 0.5px solid #f56600;
  height: 32px;
  width: 13px;
  border-radius: 44px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #4671a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #517eb7;
}

.cropper-image{
  width: 300px;
  float: left;
  /* margin: 20px auto; */
}

.canvas-image {
  float: right;
  /* margin-left: 20px; */
  width: 300px;
  height: 400px;
  position: relative;
  border: 1px solid #b2b2b2;
}

#canvas-crop-preview {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.cropper-image img{
  width: 100%;
}

.clearfix::after {
  content: '';
  display: block;
  overflow: hidden;
  clear: both;
}